# Core
django
djangorestframework
psycopg2-binary
python-dotenv
dj-database-url
cryptography>=41.0.0

# API Features
django-filter
django-cors-headers

# Authentication
dj-rest-auth
djangorestframework-simplejwt
django-allauth
requests
